DEVICE_GLOB=sr[0-9]*

BASE_DIR=/var/lib/dvd-ingester
WORK_DIR=/var/lib/dvd-ingester/work
LOG_DIR=/var/lib/dvd-ingester/logs
RIPPED_DB=/var/lib/dvd-ingester/ripped.jsonl
DEST_DIR=/mnt/nas/DVD_Rips

# movie: HandBrakeCLI --main-feature to one MKV
# archive: dvdbackup -M, then atomic directory publish
# tv: reserved for a tuned title-selection policy
RIP_MODE=movie
HANDBRAKE_PRESET='Fast 480p30'
MIN_TV_TITLE_SECONDS=1080
MEDIA_SETTLE_SECONDS=8
MEDIA_READY_TIMEOUT=60
MEDIA_READY_INTERVAL=2
EJECT_ON_SUCCESS=1
EJECT_ON_FAILURE=0
RSYNC_RETRIES=3
RSYNC_RETRY_SLEEP=30
REQUIRE_DEST_MOUNT=1

AUTOUPDATE=1
UPDATE_CHANNEL=latest
UPDATE_MANIFEST_URL='https://github.com/azide0x37/dvd-ingester/releases/latest/download/manifest.json'
